/* WeatherDisplay */
.weather-display{ padding-top:40px; display:flex; flex-direction: column; align-items: center; }
.weather-display > .location{ font-size:36px; font-weight:bold; }
.weather-display > .temperature{ font-size:22px; padding-top:10px; }
.weather-display > .temperature > span{ font-size:15px; }
.weather-display > .description{ text-align: center; }
.weather-display > .description > img{ margin:-10px 0; }
.weather-display > .description > p{ font-size:20px; margin-top:-10px; }